<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="fb-root"></div>
<h2>Narasimhan Vallur - Banyan Blog!</h2>
<img alt="serialization metrics" src="img/banyan.png" title="" />
<p>			
I am a software engineer who wants to write kick ass server side software. Here I am writing blogs as brain dump - while i get in the weeds of Banyan.

Banyan - A highly performant, Distributed, scalable, consistent and simple to use No-Sql Solution.
</p>					
<p><div class="g-plusone" data-size="tall"></div><script type="IN/Share" data-url="http://vallur.github.io" data-counter="top"></script>&nbsp;<div class="fb-like" data-href="http://vallur.github.io" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=vallur&repo=vallur.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe></p>
<div class="fb-comments" data-href="http://vallur.github.io" data-width="400" data-numposts="5" data-colorscheme="light"></div>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/vallur" rel="me" class="social github" title="Go to github.com/vallur" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/pub/vallur-narasimhan/5/219/570/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/+NarasimhanVallur/about" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/vallur/vallur.github.com/issues/new" rel="me" class="social mail" title="Leave feedback for Vallur"  target="_blank"></a></li>				
	</ul>
</p>
